<!-- Hero Section Begin -->
<section class="hero">
  <div class="container">
    <div class="hero__slider owl-carousel">
      <%= render partial: "banner_movie", collection: @banner_movies, as: :movie %>
    </div>
  </div>
</section>
<!-- Hero Section End -->
<!-- Product Section Begin -->
<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <%= render partial: "static_pages/category_index", collection: @categories, as: :category %>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="product__sidebar">
          <div class="product__sidebar__view">
            <div class="section-title">
              <h5><%= t ".hot_movie" %></h5>
            </div>
            <ul class="filter__controls">
            </ul>
            <div class="filter__gallery">
              <%= render partial: "movies/hot_movie", collection: @hot_movies, as: :movie %>
            </div>
          </div>
          <div class="product__sidebar__comment">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
