<span id="favorite_button">
  <% if logged_in? %>
    <%= favorited(current_user, params[:id]) ? render("remove_favorite") : render("add_favorite") %>
  <% else %>
    <%= render("add_favorite") %>
  <% end %>
</span>
