<div class="search-model">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="search-close-switch"><i class="fa-solid fa-xmark"></i></div>
    <%= search_form_for @search,as: :m, url: searchs_path, class: "search-model-form" do |f| %>
      <%= f.search_field :title_or_description_or_categories_name_cont, placeholder: t(".searching"), id: "search-input" %>
    <% end %>
  </div>
</div>
