<% provide :title, t(".edit") %>
<div class="sales-boxes">
  <div class="admin-manager box">
    <div class="title">
      <h1><%= t ".edit" %></h1>
    </div>
    <div class="admin-data">
      <%= render "form" %>
    </div>
  </div>
</div>
