<tr>
  <th scope="row"><%= category_counter + 1 %></th>
  <td><%= category.name %></td>
  <td>
    <%= link_to edit_admin_category_path(category) do %>
      <span class="fa fa-pencil"></span>
    <% end %>
    <%= link_to admin_category_path(category), method: :delete,
          data: { confirm: t(".confirm")} do %>
      <span class="fa fa-trash"></span>
    <% end %>
  </td>
</tr>
