<div class="detail-group-cinema" id="showtime-<%= show.id %>">
  <div>
    <div class="listtime">
      <div class="typetime">
        <%= link_to show.start_time.to_s(:time), movie_show_path(show.movie, show), class: "showtimes-list" %>
      </div>
    </div>
  </div>
</div>
