@import "color.scss";

.header__right {
  display: flex;
}

a:hover {
  color: yellow !important;
}

.header_dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  color: black;
}

.header_dropdown:hover .dropdown-content {
  display: block;
}

.label-text {
  color: #65c9f3;
  font-weight: bolder;
}

.detail-group-cinema {
  .title-cinema {
    position: relative;
    box-sizing: border-box;
    height: 40px;
    width: 270px;
    padding: 7px 20px;
    background-color: #dc3545;
    color: #ffffff;
  }

  .item-cinema {
    padding: 35px 20px 25px 20px;
    border: 1px solid #a0a3a7;
    clear: both;

    listtime:last-child {
      margin-bottom: 0;
    }

    .listtime {
      label {
        font-size: 16px;
        padding-top: 5px;
        display: inline-block;
        width: 25%;
        vertical-align: top;
      }

      .typetime {
        display: inline-block;
        width: 75%;

        a {
          margin: 0 10px 10px 0;
          padding: 5px 10px;
          border: 1px solid #ced0da;
          display: inline-block;
        }
      }
    }
  }
}

.showtime-block {
  display: flex;
}

.cinema-block {
  width: 100%;
}

.search-date-form {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.display-date-shows {
  color: antiquewhite;
}

.ban {
  cursor: not-allowed !important;
}

.payment_content {
  min-height: 620px !important;
}

.xsize {
  font-size: 15px !important;
}

.time_size {
  display: inline !important;
  font-size: 20px !important;
  color: aqua !important;
}

.xsize_100px {
  display: inline !important;
  font-size: 20px !important;
  color: aqua !important;
}

.img_payment {
  width: 80px !important;
  height: 120px !important;
}

.ticket_red {
  color: aqua !important;
}

.delete {
  background-color: #ff4343 !important;
}

.delete_a {
  text-decoration: none !important;
  color: white !important;
}

.total {
  min-height: 300px;
  display: flex;
}

#total_payment {
  color: #ff4343;
  font-size: 50px;
  font-weight: bolder;
  padding-top: 80px;
}

#payment {
  color: white;
  font-size: 35px;
  padding-top: 100px;
}

.ticket_border {
  width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 5px solid red !important;
}

.green_button {
  background-color: $cinema-select !important;
  border-radius: 4px 4px 4px 4px !important;
}

.red_button {
  background-color: $primary-color !important;
  border-radius: 4px 4px 4px 4px !important;
}

.disabled {
  display: none !important;
}

.th_orderhistory {
  text-decoration: none;
  color: #fff;

  &:link {
    text-decoration: none;
    color: #fff;
  }
}

.w-150 {
  width: 150px;
}

.botom_mar {
  margin-bottom: 30px;
}

.top_mar {
  margin-top: 30px;
}

.white_text {
  color: #65c9f3 !important;
  font-weight: bolder;
}

table {
  border: 1px solid white !important;

  thead {
    label {
      margin-bottom: 0px !important;
    }

    background-color: rgb(221, 79, 79) !important;

    th {
      text-align: center;
      color: white;
    }
  }

  tbody {
    background-color: antiquewhite;

    td {
      text-align: center;
      color: rgb(221, 79, 79) !important;

    }
  }
}

.pay-btn {

  span {
    font-size: 13px;
    color: $white;
    background: #5de05d;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 14px 20px;
    border-radius: 4px 0 0 4px;
    margin-right: 1px;
  }

  svg {
    font-size: 20px;
    display: inline-block;
    background: $sum;
    padding: 11px 5px 16px 8px;
    color: $white;
    border-radius: 0 4px 4px 0;
  }
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-right-45 {
  margin-right: 45px;
}

.padding-top-100 {
  padding-top: 100px;
}

.padding-top-50 {
  padding-top: 50px;
}

.space-around {
  justify-content: space-around;
}

.max-width-100 {
  max-width: 100px;
}

.main_content {
  min-height: 750px;
}

.width-135 {
  width: 135px !important;
}

.input-box {
  &:focus {
    color: #ad6060 !important;
  }

  &:valid{
    color: #ad6060 !important;
  }
}

.edit_form {
  padding: 0 !important;
  &::after {
    display: none !important;
  }
}

.tex_align_center {
  text-align: center;
}

.white_a {
  color: #ffffff;
  font-weight: 700;
}

.margin-bot-h3 {
  color: #ffffff;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  margin-bottom: 30px;
}

.no-padding{
  padding-top: 10px!important;
}

.height-400{
  height: 400px !important;
}
