@import "bootstrap";

.wrapper {
  flex: 1 0 auto;
}

.copyright {
  color: rgba(255, 255, 255, 0.5);
  line-height: 22px;
  padding: 20px 15px;
  font-size: 14px;
  font-style: italic;
  display: inline-block;
  font-weight: 300;
}

.wrap-icon {
  padding-left: 97% !important;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none !important;
}
